* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
input {
  width: 50%;
  padding: 30px;
  margin: 30px 0;
  font-size: 30px;
  border: 0;
  border-bottom: 1px solid coral;
  background-color: transparent;
}

input:focus {
  outline: 0;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.5s;
}

button {
  padding: 25px 50px;
  margin: 30px 0;
  border-radius: 30px;
  font-size: 30px;
  background-color: black;
  color: white;
  border: 0;
  transition: ease-in-out 0.5s;
}

.none {
  display: none;
}

.show {
  display: block;
  color: white;
  font-size: 4em;
  text-transform: uppercase;
}

.black {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/08/12/46/moon-2048727_1280.jpg);
  color: white;
  transition: ease 2s;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bounce-in 1.3s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
    border-radius: 100%;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border-radius: 0;
  }
}
