<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div id="container">
        <input  v-model="nome" type="text" placeholder="Inserisci il tuo nome">
        <input v-model="cognome" type="text" placeholder="Inserisci il tuo cognome">

        <button @click="stampa">Stampa</button>

        <h2 :class="display"> {{nome}} {{cognome}} </h2>

        
    </div>



    <script src="js/script.js"></script>
</body>
</html>